@page "/settings"
@using System.Text.Json
@using Calendrier.Services
@inject NavigationManager Navigation
@inject AppSettingsService AppSettingsService

@if (Message != null)
{
    <div class="alert alert-info mt-2">@Message</div>
}

<h1>Settings</h1>

<div class="mb-3 row align-items-center">
    <label class="col-form-label col-2">User Data File Location:</label>
    <div class="col-7 d-flex">
        <input class="form-control" value="@OrderDataFilePath" @onchange="OnOrderDataFilePathChanged" />
    </div>
    <div class="col-2 d-flex gap-1">
        <button title="Open Folder" type="button" class="btn btn-secondary"
            @onclick="() => OpenFolder(OrderDataFilePath)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-folder2-open" viewBox="0 0 16 16">
                <path
                    d="M1 3.5A1.5 1.5 0 0 1 2.5 2h2.764c.958 0 1.76.56 2.311 1.184C7.985 3.648 8.48 4 9 4h4.5A1.5 1.5 0 0 1 15 5.5v.64c.57.265.94.876.856 1.546l-.64 5.124A2.5 2.5 0 0 1 12.733 15H3.266a2.5 2.5 0 0 1-2.481-2.19l-.64-5.124A1.5 1.5 0 0 1 1 6.14zM2 6h12v-.5a.5.5 0 0 0-.5-.5H9c-.964 0-1.71-.629-2.174-1.154C6.374 3.334 5.82 3 5.264 3H2.5a.5.5 0 0 0-.5.5zm-.367 1a.5.5 0 0 0-.496.562l.64 5.124A1.5 1.5 0 0 0 3.266 14h9.468a1.5 1.5 0 0 0 1.489-1.314l.64-5.124A.5.5 0 0 0 14.367 7z" />
            </svg>
        </button>
        <button title="Open File" type="button" class="btn btn-secondary" @onclick="() => OpenFile(OrderDataFilePath)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-file-earmark-text" viewBox="0 0 16 16">
                <path
                    d="M5 7a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 5 7zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 5 9zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                <path
                    d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3-.5a.5.5 0 0 1-.5-.5V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4h-2.5a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>
    </div>
</div>
<div class="mb-3 row align-items-center">
    <label class="col-form-label col-2">Google API Key:</label>
    <div class="col-7 d-flex">
        <input class="form-control" type="@(showGoogleApiKey ? "text" : "password")" value="@GoogleAPIKey"
            @onfocusin="() => showGoogleApiKey = true" @onfocusout="() => showGoogleApiKey = false"
            @onchange="OnGoogleAPIKeyPathChanged" />
    </div>

</div>
<div class="mb-3 row align-items-center">
    <label class="col-form-label col-2">Theme:</label>
    <div class="col-9">
        <input type="checkbox" id="dark" name="theme" value="true" checked="@DarkMode" @onchange="OnThemeChanged" />
        <label for="dark" class="ms-2">Dark Mode</label>
    </div>
</div>

@code {
    private bool showGoogleApiKey = false;

    private string OrderDataFilePath
    {
        get => AppSettingsService.Settings.OrderDataFilePath;
        set => AppSettingsService.Settings.OrderDataFilePath = value;
    }
    private string GoogleAPIKey
    {
        get => AppSettingsService.Settings.GoogleAPIKey;
        set => AppSettingsService.Settings.GoogleAPIKey = value;
    }
    private bool DarkMode
    {
        get => AppSettingsService.Settings.DarkMode;
        set => AppSettingsService.Settings.DarkMode = value;
    }
    private string? Message;

    protected override async Task OnInitializedAsync()
    {
        await AppSettingsService.LoadOrCreateAsync();
        StateHasChanged();
    }

    private async Task SaveSettings()
    {
        await AppSettingsService.SaveAsync();
        Message = "Settings saved!";
        StateHasChanged();
    }

    private async Task OnOrderDataFilePathChanged(ChangeEventArgs e)
    {
        OrderDataFilePath = e.Value?.ToString() ?? OrderDataFilePath;
        await SaveSettings();
    }

    private async Task OnGoogleAPIKeyPathChanged(ChangeEventArgs e)
    {
        GoogleAPIKey = e.Value?.ToString() ?? GoogleAPIKey;
        await SaveSettings();
    }

    private async void OnThemeChanged(ChangeEventArgs e)
    {
        DarkMode = bool.Parse(e.Value?.ToString() ?? "false");
        await SaveSettings();
    }

    private void ToggleGoogleApiKeyVisibility()
    {
        showGoogleApiKey = !showGoogleApiKey;
    }

    private void OpenFolder(string filePath)
    {
#if WINDOWS
var folder = Path.GetDirectoryName(filePath);
if (!string.IsNullOrEmpty(folder))
{
System.Diagnostics.Process.Start(new System.Diagnostics.ProcessStartInfo
{
FileName = folder,
UseShellExecute = true,
Verb = "open"
});
}
#endif
    }

    private void OpenFile(string filePath)
    {
#if WINDOWS
if (File.Exists(filePath))
{
System.Diagnostics.Process.Start(new System.Diagnostics.ProcessStartInfo
{
FileName = filePath,
UseShellExecute = true,
Verb = "open"
});
}
#endif
    }
}